@font-face {
  font-family: "Raleway-Bold";
  src: url("font/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Lato-Light";
  src: url("font/Lato-Light.ttf");
}

body.menu {
  margin: 0;
  background-image: url("gambar/bgmenu.png");
  background-size: cover;
}
body.beranda {
  margin: 0;
  background-image: url("gambar/bgberanda.png");
  background-size: cover;
}
body.tutorialvideo {
  margin: 0;
  background-image: url("gambar/bgtutorialvideo.png");
  background-size: cover;
}
header {
  background-color: #508c64;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
h1 {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  margin-left: 5%;
}
.nav_link li {
  display: inline-block;
  padding: 10px;
  margin-top: 15px;
  margin-right: 30px;
}
a {
  color: white;
  font-size: 15px;
}
.list {
  color: azure;
  font-size: 25px;
  text-align: center;
}
.listmenu {
  margin-top: 20px;
}
.table {
  align-items: center;
  margin-left: auto;
  margin-left: 100px;
}

.pict img {
  align-items: center;
  margin-top: -50px;
  width: 388px;
}
